/* .content{
    background-image: url(assets/side-view-homeless-man-street-with-cup-help-sign_23-2148760787.jpg);
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
} */
/* html{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/hungry-children-being-fed-by-charity_21730-12868.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
body{
    /* background-image: url(assets/poor-boy-road-image-hd_181020-3465.jpg);
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    /* z-index: 2; */
    /* background-blend-mode: overlay; */

    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/hungry-children-being-fed-by-charity_21730-12868.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 25% 0 5%;
    box-sizing: border-box;
    /* box-shadow: inset; */
}
/* .container{
    display: block;
}
.carousel-inner{
    /* display: flex; */
   /* justify-content: center;
    margin: auto;
    padding-left: 25%;
} */
.content{
    margin: 0 auto;
    padding-top: 10%;
    transform: translate(50,50);
    color: white;
}
.razorpay-embed-btn{
    color: white;
}